<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.address | escape }}</p>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.ext_link1 %}
          <li>
            <a href="{{ site.ext_link1.url }}">
              <img src="{{ site.ext_link1.icon }}"></img>
              <span class="username">{{ site.ext_link1.name }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.ext_link2 %}
          <li>
            <a href="{{ site.ext_link2.url }}">
              <img src="{{ site.ext_link2.icon }}"></img>
              <span class="username">{{ site.ext_link2.name }}</span>
            </a>
          </li>
          {% if site.ext_link3 %}
          <li>
            <a href="{{ site.ext_link3.url }}">
              <img src="{{ site.ext_link3.icon }}"></img>
              <span clss="username">{{ site.ext_link3.name }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
