<header class="navbar navbar-default navbar-fixed-top no-margin-bottom top-padding header-navbar" role="banner">
  <div class="wrapper">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ "/about/" | relative_url}}" class="link-button">
        <img src="{{ '/assets/logo/hanarologo.png' | prepend: site.baseurl }}" style="width:240px; height:72.4px;">
      </a>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav pull-right">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="nav-item"><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
