<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body data-spy="scroll" data-target="#scrollSpy" data-offset="15">

  {% include header.html %}

  <div class="scroller">
    <div class="container docs-container">
      <div class="row">

        <nav class="col-md-3" id="scrollSpy">
          {% include {{page.floater}}.html %}
        </nav>

        <div class="col-md-9" role="main">
          <div class="panel docs-content">
            <main class="page-content" aria-label="Content">
              <div class="wrapper">
                <article class="post-content">
                  {{ content }}
                </article>
              </div>
            </main>
          </div>
        </div>

      </div>
    </div>
  {% include footer.html %}
  </div>

  </body>

</html>
